---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'About';
const description = 'About your blog.';
const permalink = `${Astro.site!.href}about`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <div class="container">
    <h1>About</h1>
    <figure class="about-image">
      <img style="height:auto;" alt="" src="https://avatars.githubusercontent.com/u/138826219?v=4" width="260" height="260" class="avatar avatar-user width-full border color-bg-default">
      
    </figure>

    
    <p>Hello! I'm V205 THIS IS A TEST EDIT BECAUSE I AM TRYING THINGS</p>
    <p>I like computers and other electrical things!</p>
    <p>I do not like scammers. (People that are going to get my email address from git or something, go away)</p>
    <img src="https://github-readme-stats.vercel.app/api/top-langs/?username=V205Arduino&layout=pie" alt="Top Languages" />
    <img src="https://github-readme-stats.vercel.app/api?username=V205Arduino&show=reviews,discussions_started,discussions_answered,prs_merged,prs_merged_percentage" alt="Top Languages" />
    
  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
