---
import FetchData from '../components/FetchData.svelte';
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'Feed';
const description = 'Feed';
const permalink = `${Astro.site!.href}feed`;

---


<BaseLayout title={title} description={description} permalink={permalink} current="feed">
    <div class="container">

        <h1>V205's Feed</h1>
        <p>Hi there!</p>
        <p>This is a semi-live feed of what V205 is doing.</p>

        <FetchData client:load/>

  
    
    </div>
  </BaseLayout>