<div>
  <img src="https://avatars.githubusercontent.com/u/138826219?v=4" alt="GitHub Avatar">
  <p>
    Hi, I'm <strong>V205</strong>. I'm a human.
    I love hardware, software, and computers!
    My <a href="https://www.github.com/V205arduino" target="_blank">GitHub is V205Arduino</a>,
   
    
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
